* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1350px;
}
@font-face {
  font-family: "poppinsbold";
  src: url("../fonts/poppins-bold-webfont.woff2") format("woff2"),
    url("../fonts/poppins-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppinssemibold";
  src: url("../fonts/poppins-semibold-webfont.woff2") format("woff2"),
    url("../fonts/poppins-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppinsregular";
  src: url("../fonts/poppins-regular-webfont.woff2") format("woff2"),
    url("../fonts/poppins-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppinssemibold";
  src: url("../fonts/poppins-semibold-webfont.woff2") format("woff2"),
    url("../fonts/poppins-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
span {
  color: rgb(163, 161, 159);
  font-family: "poppinsbold";
}
ul,li{
  list-style: none;
}

a {
  text-decoration: none;
}
header {
  height: 60px;
  background-color: rgb(241, 246, 248);
}
.heading_course {
  padding-top: 30px;
}
.heading_course h1 {
  font-family: "poppinssemibold";
  text-align: center;
  font-size: 40px;
  margin-bottom: 32px;
  color: rgb(101, 92, 235);
}
.heading_course h4 {
  font-family: "poppinssemibold";
  text-align: center;
  font-size: 28px;
  color: rgb(116, 116, 116);
}
.course_details .bed_deled {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
.course_details .bed_deled .bEd {
  width: 20%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../image/image1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 90px;
  border-radius: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: all 0.3s ease-in-out;
}
.course_details .bed_deled .dElEd {
  width: 20%;
  height: 200px;
  background-image: url(../image/image1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}
.course_details .bed_deled .bEd h3 {
  font-size: 30px;
  color: rgb(150, 0, 0);
  font-family: "poppinsbold";
}
.course_details .bed_deled .dElEd h3 {
  font-size: 30px;
  color: rgb(150, 0, 0);
  font-family: "poppinsbold";
}
a:hover {
  transform: scale(1.03);
}
.footer {
  background-color: rgb(223, 223, 223);
  height: 370px;
}

    /* course section */

  .heading_bed{
      padding-top: 40px;
  }
  .heading_bed h1{
      font-family: "poppinsbold";
      text-align: center;
      font-size: 40px;
      margin-bottom: 32px;
      color: rgb(101, 92, 235);
  }
  .details_bed{
    display: flex;
    justify-content:space-around; 
    align-items: center; 
    padding-top: 5%;
    padding-bottom: 80px;
  }
  .details_bed .subject{  
   background-color: rgb(241, 217, 217);
   border-radius: 15px; 
   width:25%;
   height:430px;
  }
  .details_bed .description{
      width:48%;
      background-color: rgb(196, 196, 238);
      padding-bottom:30% ;
      padding: 3%;
      border-radius: 18px;
    
  
  }
  .details_bed #a{
    display: none;
    background-color: rgb(159, 221, 255);
  }
  .details_bed #b .pdf_bed{
    margin-top: 50px;
  }
  .details_bed #c .pdf_bed{
    margin-top: 50px;
  }
  .details_bed #a .pdf_bed{
    margin-top: 50px;
  }
  .details_bed #d .pdf_bed{
    margin-top: 50px;
  }
  .details_bed #e .pdf_bed{
    margin-top: 50px;
  }
  
  .details_bed #a .pdf_bed img{
    
    width: 25%;
  }
  .details_bed #b .pdf_bed img{
  
    width: 25%;
    
  }
  .details_bed #c .pdf_bed img{
  
    width: 25%;
  }
  .details_bed #d .pdf_bed img{
  
    width:25%;
  }
  .details_bed #e .pdf_bed img{
    width: 25%;
  }
  
  .details_bed .subject ul li:hover{
       background-color: rgb(99, 99, 109);
       border-radius: 10px;
      
  }
  
  .details_bed .subject ul li:hover button{
    color:#fff;
  }
  
  
  .details_bed #b{
    display: none;
  }
  .details_bed #c{
    display: none;
  }
  .details_bed #d{
    display: none;
  }
  .details_bed #e{
    display: none;
  }
  .details_bed .description p{
     font-family: "poppinsregular";
     font-size: 19px;
     color: rgb(114, 111, 106);
     text-align: center;
  }
  .details_bed .description h5{
    font-family: "poppinsmedium";
      font-size: 20px;
      margin: 25px;
  }
  .details_bed .description h3{
    font-family: "poppinssemibold";
    text-align: center;
    font-size: 29px;
    margin-bottom: 30px;
    margin-left:-10px;
  }
  .details_bed .description .pdf_bed img{
    width: 25%;
     display: block;
     margin-bottom: 26px;
     
  }
  .details_bed .description .pdf_bed{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    margin-top: 50px;
  }
  .details_bed .description .link_bed{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .details_bed .description .link_bed .button{
    font-family: "poppinsregular";
      margin-bottom:5px;
      background-color:#000 ;
      border-radius: 20px;
      padding: 9px;
      color:#fff;
      padding-left: 29px;
      padding-right: 29px;
      font-size: 18px;
  }
  
  .details_bed .subject ul{
      text-align: center;
  }
  .details_bed .subject h2{
    font-family: "poppinssemibold";
      text-align: center;
      font-size: 29px;
      font-weight: bold;
      margin-top: 40px;
      margin-bottom: 30px;
      color: rgb(12, 12, 12);
  
  }
  .details_bed .subject ul li button{
    font-family: "poppinsmedium";
      align-items: center;
      font-size: 23px;
      color:rgb(75, 71, 72);
  
  }
  .details_bed .subject ul li.active {
    background-color: rgb(100, 100, 102);
       border-radius: 10px;
  }
  .details_bed .subject ul li.active button{
    color:#fff;
  }
  .details_bed .subject ul li{
    display:flex;
    width: 70%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 22px;
    padding: 5px;
    
  }
  .details_bed .description .fees{
    color: rgb(32, 32, 255);
  }

     /*bEd section*/

   .heading_deled{
      padding-top: 100px;
  }
  .heading_deled h1{
      font-family: "poppinsbold";
      text-align: center;
      font-size: 40px;
      margin-bottom: 32px;
      color: rgb(58, 58, 255);
      margin-bottom: 80px;
  }
  .wrapper .details_deled h3{
      font-size: 30px;
      margin-left: 180px;
  }
  .wrapper .details_deled p{
      font-family: "poppinsregular";
      font-size:17px;
      text-align: center;
      margin-left: 4%;
      margin-right: 4%;
      background-color:rgb(212, 212, 250) ;
      padding: 30px;
      border-radius: 15px;
      color: rgb(77, 77, 77);
  
  }
  .wrapper .details_deled .details h5{
      font-size: 20px;
      margin-top: 40px;
      margin-left: 80px;
      font-family: "poppinssemibold";
  }
  .wrapper .details_deled {
      margin-bottom: 90px;
  }
  .wrapper .details_deled ul{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-top: 25px;
  }
  .wrapper .details_deled ul li{
      margin: 30px;
      margin-bottom: 25px;
  }
  .wrapper .details_deled ul li img{
      display: block;
      width: 170px;
      height:160px;
      border-radius: 13px;
  }
  .wrapper .details_deled ul li nav a{
      background-color: black;
      padding: 9px;
      border-radius: 12px;
      padding-left: 39px;
      padding-right: 39px;
      color: rgb(255, 255, 255);
      font-family: "poppinsregular";
      font-size: 18px;
  
  }
  .wrapper .details_deled ul li nav{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 25px;
  }
  .wrapper .details_deled h5 span{
      color:blue;
      font-size:21px ;
      font-family: "poppinssemibold";
  }
  .wrapper .details_deled h5{
      margin-left: 80px;
      font-size:19px ;
      margin-top: 28px;
      font-family: "poppinsregular";
  }

@media all and (max-width: 1280px) {
  .heading_course h1 {
    font-size: 38px;
  }
  .heading_course h4 {
    font-size: 25px;
  }
  .course_details .bed_deled .bEd {
    width: 20%;
    height: 200px;
  }
  .course_details .bed_deled .bEd h3 {
     font-size: 29px;
  }
  .course_details .bed_deled .dElEd h3 {
    font-size: 29px;
 }
  .course_details .bed_deled .dElEd {
    width: 20%;
    height: 200px;
  }
  .details_bed .subject ul li{
    margin-bottom: 21px;
    width: 70%;
  }
  .details_bed .subject{
    width: 30%;
    height:420px ;
  }
  .details_bed .description{
    width:55%;
  }

  .heading_deled h1{
    font-size: 35px;
}

}

@media all and (max-width:1080px){
  .details_bed .subject{
    width: 33%;
    height:390px ;
  }
  .details_bed .description p{
    font-size:20;
  }
  .details_bed .description{
    width:60%;
  }
}

@media all and (max-width: 980px) {
  .heading_course h1 {
    font-size: 34px;
  }
  .heading_course h4 {
    font-size: 23px;
  }

  .course_details .bed_deled .bEd {
    width: 28%;
    height: 200px;
  }
  .course_details .bed_deled .dElEd {
    width: 28%;
    height: 200px;
  }
  .heading_bed h1{
    font-size: 30px;
  }
  .details_bed .subject ul li button{
    font-size: 19px;
  } 
  .details_bed .subject{
    width: 36%;
    height:390px ;
    margin-right: 22px;
  
  }
  .details_bed .description p{
    font-size:20px;
  }
  .details_bed .description{
    width:65%;
    padding-bottom: 40px;
  }
  .heading_deled h1{
    font-size: 30px;
}


}
@media all and (max-width: 768px) {
  .heading_course h1 {
    font-size: 25px;
  }
  .heading_course h4 {
    font-size: 19px;
  }
  .course_details .bed_deled .bEd {
    width: 30%;
    height: 180px;
  }
  .course_details .bed_deled .bEd h3 {
    font-size: 20;

  }
  .course_details .bed_deled .dElEd h3 {
    font-size: 20;
  }
  .course_details .bed_deled .dElEd {
    width: 30%;
    height: 180px;
  }
  .heading_bed h1{
    font-size: 28px;
  }
  .details_bed .subject ul li button{
    font-size: 19px;
  }
  .details_bed .subject ul li{  
    padding: 9px;
  } 
  .details_bed .subject{
    width:47%;
    height:400px ;
    border-radius: 19px;
    margin-bottom: 50px;
  }
  .details_bed .description p{
    font-size:19px;
  }
  .details_bed .description{
    padding-bottom: 50px;
    width:98%;
    margin-top: 20px;
  }
  .details_bed{
    flex-wrap: wrap;

  }
  .details_bed .subject ul li{
    width: 70%;
  }
  
  .heading_deled h1{
    font-size: 27px;
}
.wrapper .details_deled p{
    margin-left:2%;
    margin-right:2% ;
}
.wrapper .details_deled h5{
    margin-left:50px ;
}
.wrapper .details_deled ul li{
    margin-left:-10px ;
}
.wrapper .details_deled ul{
    margin-left:39px ;
}

}
@media all and (max-width: 640px) {
  .heading_course h1 {
    font-size: 25px;
  }
  .heading_course h4 {
    font-size: 19px;
    margin-left: 30px;
  }
  .course_details .bed_deled .bEd {
    width: 36%;
    height: 180px;
  }
  .course_details .bed_deled .bEd h3 {
    font-size: 25px;
  }
  .course_details .bed_deled .dElEd h3 {
    font-size: 25px;
  }
  .course_details .bed_deled .dElEd {
    width: 36%;
    height: 180px;
  }
  .heading_bed h1{
    font-size: 23px;
  }
  .details_bed .subject ul li button{
    font-size: 19px;
  }
  .details_bed .subject ul li{
    width: 69%;
  }
  .details_bed .subject{
    width: 70%;
    height:420px ;
    border-radius: 19px;
  }
  .details_bed .description p{
    font-size:16px;
  }
  .details_bed .description{
    padding: 20px;
    width:100%;
    padding-bottom: 35px;
  }
  .details_bed .description h3{
    font-size: 20px;
  }
  .details_bed .description .fees{
    font-size: 17px;
  }
  .details_bed .description h5{
    font-size: 16px;
  }
   
  .heading_deled h1{
    font-size: 25px;
}
.wrapper .details_deled p{
    margin-left:0%;
    margin-right:0% ;
}
}
 
@media all and (max-width: 480px) {
  .heading_course h1 {
    font-size: 23px;
  }
  .heading_course h4 {
    font-size: 17px;
    margin-left: 25px;
  }
  .course_details .bed_deled {
    flex-wrap: wrap;
  }
  .course_details .bed_deled .bEd {
    width:70%;
    height: 220px;
    margin-bottom: 40px;
    margin-right: 0;
  }
  .course_details .bed_deled .bEd h3 {
    font-size: 32px;
  }
  .course_details .bed_deled .dElEd h3 {
    font-size: 32px;
  }
  .course_details .bed_deled .dElEd {
    width: 70%;
    height: 220px;
  }

  .heading_bed h1{
    font-size: 20px;
  }
  .details_bed .subject ul li button{
    font-size: 17px;
  }
  .details_bed .subject ul li {
    margin-bottom: 19px;
    width: 70%;
  }
  .details_bed .subject{
    width: 75%;
    height:420px ;
    border-radius: 19px;
  }
  .details_bed .description p{
    font-size:16px;
  }
  .details_bed .description{
    padding: 20px;
    width:100%;
    padding-bottom: 35px;
  }
  .details_bed .description h3{
    font-size: 20px;
  }
  .fees .description .fees{
    font-size: 17px;
  }
  .details_bed .description h5{
    font-size: 16px;
  }
  .details_bed .description .pdf_bed img{
    width: 34%;
  }
  .details_bed #a .pdf_bed img{
    width: 34%;
  }
  .details_bed #b .pdf_bed img{
    width: 34%;
  }
    .details_bed #c .pdf_bed img{
      width: 34%;
    }
    .details_bed #d .pdf_bed img{
      width: 34%;
    }
    .details_bed #e .pdf_bed img{
      width: 34%;
    }

    .heading_deled h1{
      font-size: 20px;
  }


}

@media all and (max-width: 360px) {
  .heading_course h1 {
    font-size: 23px;
  }
  .heading_course h4 {
    font-size: 17px;
    margin-left: 25px;
  }
  .course_details .bed_deled .bEd {
    margin-bottom: 14%;
    width: 85%;
    height: 190px;
  }
  .course_details .bed_deled .bEd h3 {
    font-size: 26px;
  }
  .course_details .bed_deled .dElEd h3 {
    font-size: 26px;
  }
  .course_details .bed_deled .dElEd {
    width:85%;
    height:190px;
  }
  .heading_bed h1{
    font-size: 19px;
  }
  .details_bed .subject ul li button{
    font-size: 17px;
  }
  .details_bed .subject{
    width: 90%;
    height:400px ;
    border-radius: 19px;
  
    margin-left: 20px;
  }
  .details_bed .description p{
    font-size:16px;
  }
  .details_bed .description{
    padding: 20px;
    width:100%;
    padding-bottom: 35px;
  }
  .details_bed .description h3{
    font-size: 20px;
  }
  .details_bed .description .fees{
    font-size: 17px;
  }
  .details_bed .description h5{
    font-size: 16px;
  }
  .details_bed .description .pdf_bed img{
    width:45%;
  }
  .details_bed #a .pdf_bed img{
    width: 45%;
  }
  .details_bed #b .pdf_bed img{
    width: 45%;
  }
    .details_bed #c .pdf_bed img{
      width: 45%;
    }
    .details_bed #d .pdf_bed img{
      width: 45%;
    }
    .details_bed #e .pdf_bed img{
      width: 45%;
    }

}
@media all and (max-width: 320px) {
  .heading_course h1 {
    font-size: 20px;
  }
  .heading_course h4 {
    font-size: 15px;
    margin-left: 25px;
  }
  .course_details .bed_deled .bEd {
    width: 90%;
    height:180px;
    margin-bottom: 14%;
  
  
  }
  .course_details .bed_deled .bEd h3 {
    font-size: 29px;
  }
  .course_details .bed_deled .dElEd h3 {
    font-size: 29px;
  }
  .course_details .bed_deled .dElEd {
    width: 90%;
    height: 180px;
  }
  .heading_bed h1{
    font-size: 18px;
  }
  .details_bed .subject ul li button{
    font-size: 17px;
  }
  .details_bed .subject{
    width: 90%;
    height:390px ;
    border-radius: 19px;
  }
  
  .details_bed .description .pdf_bed img{
    width:48%;
  }
  .details_bed #a .pdf_bed img{
    width: 48%;
  }
  .details_bed #b .pdf_bed img{
    width: 48%;
  }
    .details_bed #c .pdf_bed img{
      width: 48%;
    }
    .details_bed #d .pdf_bed img{
      width: 48%;
    }
    .details_bed #e .pdf_bed img{
      width: 48%;
    }
  .details_bed .description p{
    font-size:16px;
  }
  .details_bed .description{
    padding: 20px;
    width:100%;
    padding-bottom: 35px;
  }
  .details_bed .description h3{
    font-size: 20px;
  }
  .details_bed .description .fees{
    font-size: 17px;
  }
  .details_bed .description h5{
    font-size: 16px;
  }
  .heading_deled h1{
    font-size: 19px;
}
.wrapper .details_deled h5{
    font-size: 18px;
    margin-left: 11px;
}
.wrapper .details_deled h3 span{
    font-size: 18px;  
}

}
